<div class="flex flex-col gap-1">
  @if (label()) {
  <label [for]="name()" class="ml-1 flex text-sm font-medium">{{ label() }} @if(required()){ <span class="text-gray-900">*</span>} </label>
  }
  <input
    class="border border-gray-300 rounded px-2 py-1"
    [formControl]="control()"
    [id]="name()"
    [name]="name()"
    [type]="type()"
    [placeholder]="placeholder()"
    [ariaRequired]="required() || null"
    [ariaInvalid]="invalid() || null"
  />
  @if (hasError()) {
  <span class="text-red-600 text-sm font-medium px-1">{{ errorMessage() }}</span>
  }
</div>
